


.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}
figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}/*
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;*/

/* Experimental styles above*/
#wrapper {       /*  This DIV constrains the width of your page's content  */
  margin: 0 auto;
  width: 80%;
  padding-top: 30px;
}



.centre {
  clear: both;            /*  Clears all floats above this object */
  width: 100px;
  position: absolute;             /*  Use these 3 declarations to centre object  */
  left: 50%;                      /*  Use these 3 declarations to centre object  */
  transform: translate(-50%, 0);  /*  Use these 3 declarations to centre object  */
  
}

.floatleft {
  float: left;                    /*  This align's your object to the left.  */

}

.floatright {
  float: right;                   /*  This align's your object to the right.  */
  
}


#sidebar{
  background:white;
  width:200px;
  height:100%;
  display:block;
  position:absolute;
  left:-202px;
  top:55px;
  transition:left 0.3s linear;
}

#sidebar.visible{
  left:0px;
  transition:left 0.3s linear;
}

#sidebar-btn{
  display:inline-block;
  vertical-align: middle;
  width:20px;
  height:15px;
  cursor:pointer;
  margin:20px;
  position:absolute;
  top:10px;
  right:-60px;
  font-size: 20px;
  color: #003287;
  /*background-color: #FFcc11;*/
  box-sizing: border-box;
}

/*#sidebar-btn span{
  height:1px;
  background:#111;
  margin-bottom:5px;
  display:block;
}

#sidebar-btn span:nth-child(2){
  width:75%;
}

#sidebar-btn span:nth-child(3){
  width:50%;
}*/



.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.accordion:after {
  content: '\002B';
  color: #888;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}


.panel {
  padding: 0 18px;
  display: none;
  background-color: lightgray;
  overflow: hidden;
}

/* bootstrap dropdown hover menu*/
/*--------------*/

.header{
    width: 100%;
    z-index: 1;
  }

.header p{
    line-height: 120px;
    font-size: 50px;
    font-weight: bold;
    color: #FFCC11;
    background-size: cover;
    background-image: url("bannerdoghouse.png"); 
    font-family: sans-serif;
  }

.visible li {
  background-color: white;
}

section {
  width: 100%;
  clear: both;
  background-color: darkgrey;
    
}

ul{
  margin:0px;
  padding:0px;
  color: #FFcc11;
}

ul li{
  list-style:none;
}

ul li a{
  background:transparent;
  color:#FFcc11;
  /*border-bottom:1px solid #111;*/
  display:block;
  /*width:180px;*/
  padding:10px;
  text-decoration: none;
}

h2 {
  text-align: center;
}

img { border: 0; }


li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li {
  font-size: 16px;
  color: black;
}

nav 
    {
      width: 100%;
      transition: box-shadow 400ms;
      color: #FFcc11;
      margin-top: 0px;
      z-index: 1;
    }

button
    {
        background: inherit;
        padding: 0px;
        border: none;
        font-size: 20px;
        font-family: sans-serif;
    }

p button
    {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }



p button:hover {background-color: #3e8e41}

p button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer{
  width: 100%;
  margin:  auto;
  background: black;
  background-size: cover;
  padding: 20px;
  font-size: 12px;
  font-family: inherit;
  color: #FFCC11;
  }

/*nav .hover 
    }
      color: #333;
    }*/

body
    {     
      background-image: url("spit.png");
      background-size: cover;
      position: relative;/*padding: 20px;*/
    }     

/*------------*/
.sticky {
  position: fixed;
  top: 0; left: 0;
  z-index: 2;
 /* box-sizing: 100px;*/
}

.sticky + .content {
  padding-top: 60px;
}

.navbar {
  /*overflow: hidden;*/
  /*background-color: #FFCC11;*/
}

.navbar a {
  /*text-align: center;*/
  padding: 14px 14px;
  font-size: 20px;
  color: #9d9d9d;
}

.navbar-nav {
  color: #FFcc11;
}

    .mybutton
      {
        background: transparent;
        padding: 20px;
        border: none;
        font-size: 13px;
        font-family: sans-serif;
      } 

.body-wrap {
  min-height: 0px;
  /*background-color: #FFcc11
  color: #FFCC11;  /*colors the hamburger*/
}


.body-wrap {
  position: relative;
  z-index: 1;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  z-index: -1;
  }

.body-wrap:after {
  top: auto;
  bottom: 0;
}

/* end of menu */
.box{
  position: relative;
  margin-left: 25px;
  width: 95%;
  background: url("handmadepaper.jpg");
  background-size: cover;
  padding: 20px;
  font-size: 16px;
  font-family: sans-serif;
  z-index: 0;
  }

.box p{
  font-family: sans-serif;
  font-style: inherit;
  font-size: 16px;
  color: black;
  line-height: 20px;
  background: transparent;
}


/* Experimental Section*/
/*
$background-color: #2A2E37;
$search-bg-color: #242628;
$icon-color: #00FEDE;
$transition: all .5s ease;


* {
  box-sizing: border-box;
}

.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: $search-bg-color;
  position: relative;
  overflow: hidden;
  transition: $transition;
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: $icon-color;
    transition: $transition;
  }
  &.open {
    width: 420px;
    &:before {
      height: 60px;
      margin: 20px 0 20px 30px;
      position: absolute;
    }
  }
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: initial;
  background: white;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}

.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid $icon-color;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: $transition;
  &:before {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -2px;
    top: 30px;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  &:after {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -12px;
    top: 40px;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  .open & {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    &:before {
      transform: rotate(52deg);
      right: 22px;
      top: 23px;
      height: 18px;
    }
    &:after {
      transform: rotate(-230deg);
      right: 22px;
      top: 13px;
      height: 18px;
    }
  }
}*/
